In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
iris=pd.read_json('/content/drive/MyDrive/iris.json')
iris

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [ ]:
iris.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [ ]:
import pandas as pd
dft=pd.read_json('/content/drive/MyDrive/iris.json')
dft.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [ ]:
No_rows=iris.shape[0]
No_cols=iris.shape[1]
print("No of rows",No_rows)
print("No of column",No_cols)

No of rows 150
No of column 5

In [ ]:
print(dft['petalLength'].mean())

3.7580000000000005

In [ ]:
dft[['sepalLength','sepalWidth','petalLength','petalWidth']].mean()

sepalLength    5.843333
sepalWidth     3.057333
petalLength    3.758000
petalWidth     1.199333
dtype: float64

In [ ]:
dft[['sepalLength','sepalWidth','petalLength','petalWidth']].std()

sepalLength    0.828066
sepalWidth     0.435866
petalLength    1.765298
petalWidth     0.762238
dtype: float64